{% extends 'main.html.twig'  %}
    {% block main %}
    <div class="breadcrumbs"> {{ wo_render_breadcrumbs() }} </div>
        <h2> О компании </h2>
        <p> ООО «МашСпецРеактив» является разработчиком и производителем гидравлического оборудования и инструмента сверхвысокого давления.

Гидропривод, благодаря высокой удельной мощности, позволяет создавать высокоэффективное оборудование для оптимизации и механизации различных технологических процессов во всех отраслях промышленности. Гидравлический инструмент имеет целый ряд преимуществ по сравнению с существующим традиционным оборудованием – это малый вес, простота конструкции, высокая надежность и полная автономность. Использование гидравлического оборудования позволяет сократить расходы на обслуживание, увеличить ресурс техники, обеспечить высокий уровень ее КПД.

Вся продукция изготавливается на производственных площадях ООО «МашСпецРеактив». Используются легированные стали 40Х, 30ХГСА , алюминий Д16Т, В95Т1, хонингованные трубы высокого давления St52DIN 2391 (BK+S), хромированные штока, поршни с наплавкой латуни..
Осуществляем изготовление и ремонт гидроцилиндров различной конструкции на основе ТЗ или по образцу.
Ознакомиться с перечнем производимой продукции вы можете ниже в нашем интерактивном каталоге. </p>
<p> Мы производим:

Домкраты гидравлические до 1000т;
Домкраты специальные;
Цилиндры силовые;
Толкатели гидравлические;
Съемники;
Выпрессовщики пальцев и шкворней;
Прессы гидравлические;
Инструмент для работ с трубами;
Специальное оборудование;
Ручные насосы и насосные станции производительностью до 20 л/мин.;
Железнодорожный транспорт;
Производственные мощности нашей компании позволяют изготовить как серийное оборудование, так и выполнить нестандартный заказ для решения именно Вашей задачи, а также производить ремонт и доработку гидравлического силового инструмента.

Основными потребителями нашей продукции являются предприятия нефтегазовой, горнодобывающей, обрабатывающей промышленности, перерабатывающие производства, гидроэнергетическая отрасль, строительство, коммунальное хозяйство. С помощью гидравлического оборудования решаются такие задачи, как:

подъем, удержание и перемещение крупногабаритных конструкций;
запрессовка/выпрессовка деталей;
демонтаж деталей, посаженных с натягом;
обслуживание и ремонт спецтехники;
строительно-монтажные работы.
Наши преимущества:

10-летний опыт в производстве гидравлического оборудования;
Более 2500 наименований серийных и уникальных изделий;
Соответствие продукции требованиям нормативных документов;
Собственное конструкторское бюро и производственный цех;
Гарантия до 18 месяцев;
Послепродажное обслуживание и ремонт
</p>
    {% endblock %}