{% extends 'main.html.twig'  %}
    {% block main %}
    <div class="breadcrumbs"> {{ wo_render_breadcrumbs() }} </div>
    <h2> Доставка </h2>
        <p> Доставка

Осуществляем бесплатную доставку по любому адресу в Иркутске, Ангарске и Шелехове. Сотрудничаем с транспортными компаниями ПЭК, Деловые линии, КИТ и другими. Доставка до терминала транспортной компании - бесплатно. Возможна отправка продукции в Республику Беларусь, Республику Казахстан и другие страны СНГ.

География сотрудничества:

Абакан, Аксай, Алматы, Альметьевск, Ангарск, Армавир, Артем, Архангельск, Астрахань, Балаково, Барнаул, Батайск, Белгород, Березники, Бийск, Благовещенск, Бор, Борисоглебск, Братск, Брянск, Буденновск, Великий Новгород, Владивосток, Владикавказ, Владимир, Волгоград, Волжский, Вологда, Воронеж, Георгиевск, Дзержинск, Димитровград, Дмитров, Екатеринбург, Ессентуки, Железнодорожный, Зеленодольск, Иваново, Ижевск, Йошкар-Ола, Казань, Калининград, Калуга, Каменск-Уральский, Каменск-Шахтинский, Кемерово, Кинешма, Киров, Коломна, Комсомольск-на-Амуре, Королев, Кострома, Краснодар, Красноярск, Кропоткин, Кузнецк, Курган, Курск, Липецк, Люберцы, Магадан, Магнитогорск, Майкоп, Миасс, Москва, Мурманск, Муром, Набережные Челны, Нальчик, Наро-Фоминск, Невинномысск, Нефтекамск, Нефтеюганск, Нижневартовск, Нижнекамск, Нижний Новгород, Нижний Тагил, Новокузнецк, Новороссийск, Новосибирск, Новочебоксарск, Новочеркасск, Ноябрьск, Одинцово, Октябрьский, Омск, Орел, Оренбург, Орск, Пенза, Пермь, Петрозаводск, Петропавловск-Камчатский, Подольск, Прокопьевск, Псков, Пятигорск, Россошь, Ростов-на-Дону, Рубцовск, Рыбинск, Рязань, Салават, Самара, Санкт-Петербург, Саранск, Саратов, Севастополь, Северодвинск, Серпухов, Симферополь, Славянск-на-Кубани, Смоленск, Сочи, Ставрополь, Старый Оскол, Стерлитамак, Сургут, Сызрань, Сыктывкар, Таганрог, Тамбов, Тверь, Тольятти, Томск, Туапсе, Тула, Тюмень, Улан-Удэ, Ульяновск, Уссурийск, Уфа, Хабаровск, Химки, Чебоксары, Челябинск, Череповец, Чита, Шахты, Щелково, Электросталь, Энгельс, Южно-Сахалинск, Ялта, Ярославль.
        </p>
        {% endblock %}